<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.new1.settop"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>  
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>  
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>  
	<uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
	<uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
	<uses-permission android:name="android.permission.SET_DEBUG_APP"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true">

        <activity
            android:name="com.new1.settop.Connect"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity-alias
            android:name="com.new.settop.HantvActivity"
            android:label="@string/app_name"
            android:targetActivity="com.new1.settop.Connect">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>


        <activity android:name="com.new1.settop.HantvActivity2"  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.new1.settop.MainMenuActivity"  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.new1.settop.DetailDramaActivity"  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.new1.settop.DetailShowActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.new1.settop.DetailDialogActivity"
            android:theme="@style/Theme.DialogFullScreen" >
        </activity>
        <activity android:name="com.new1.settop.live.LiveListActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.new1.settop.MovieListActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.new1.settop.BroadcastListActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.new1.settop.shopping.ShoppingListActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.new1.settop.shopping.DetailShoppingActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.new1.settop.shopping.LifeCategoryActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
         <activity android:name="com.new1.settop.shopping.LifeListActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.new1.settop.shopping.DetailLifeActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.new1.settop.delivery.DeliveryListActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.new1.setting.RechargeActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name="com.new1.setting.ChildActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
         <activity android:name="com.new1.setting.HelpActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
          <activity android:name="com.new1.setting.SpeedActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name="com.new1.setting.SearchActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name="com.new1.settop.VideoViewActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name="com.new1.setting.RestoreActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name="com.new1.settop.shopping.ExchangeActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name="com.new1.setting.ShortChannelActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
         <activity android:name="com.new1.settop.shopping.YellowCategoryActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name="com.new1.settop.shopping.YellowListActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name="com.new1.settop.shopping.DetailYellowActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
         <activity android:name="com.new1.settop.shopping.ShoppingCategoryActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
         <activity android:name="com.new1.settop.delivery.DeliveryCategoryActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name="com.new1.listlive.ListLiveActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
    </application>
	
</manifest>